# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2022-2023 Dell Inc, or its subsidiaries.
---
version: "3.7"

services:

  spdk:
    image: ghcr.io/opiproject/spdk:main@sha256:c9bee1409faf093a71990122c267395fea2c9726b0708dd61a4caa804c063cba
    volumes:
      - /dev/hugepages:/dev/hugepages
      - /dev/shm:/dev/shm
      - /proc:/proc
      - /var/tmp:/var/tmp
    ports:
      - "9009:9009"
      - "4444:4444"
      - "5555:5555"
      - "7777:7777"
      - "8888:8888"
    privileged: true
    networks:
      - opi
    working_dir: /usr/libexec/spdk/scripts
    command: |
      sh -x -c 'sync; echo 1 > /proc/sys/vm/drop_caches  && \
            mkdir -p /mnt/huge && \
            grep hugetlbfs /proc/mounts || mount -t hugetlbfs nodev /mnt/huge && \
            echo 1024 > /proc/sys/vm/nr_hugepages && \
            grep "" /sys/kernel/mm/hugepages/hugepages-*/nr_hugepages && \
            dd if=/dev/zero of=/tmp/aio_bdev_file bs=512 count=64 && \
            echo -n NVMeTLSkey-1:01:MDAxMTIyMzM0NDU1NjY3Nzg4OTlhYWJiY2NkZGVlZmZwJEiQ: > /tmp/opikey.txt && \
            chmod 0600 /tmp/opikey.txt && \
            /usr/local/bin/spdk_tgt -m 0x1 -s 512 --no-pci -S /var/tmp |& tee /tmp/spdk.log & \
            for i in `seq 1 10`; do ./rpc.py spdk_get_version && break || sleep 1; done  && \
            ./rpc.py bdev_malloc_create -b Malloc0 64 512 && \
            ./rpc.py bdev_malloc_create -b Malloc1 64 512 && \
            ./rpc.py bdev_malloc_create -b Malloc2 64 512 && \
            ./rpc.py nvmf_create_transport -t TCP -u 8192 -m 4 -c 0  && \
            ./rpc.py nvmf_create_transport -t VFIOUSER && \
            ./rpc.py nvmf_create_subsystem nqn.2016-06.io.spdk:cnode1 -a -s SPDK00000000000001 -d SPDK_Controller1  && \
            ./rpc.py nvmf_subsystem_allow_any_host nqn.2016-06.io.spdk:cnode1 --disable && \
            ./rpc.py nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t tcp -a  `hostname -i` -f ipv4 -s 4444 && \
            ./rpc.py nvmf_subsystem_add_listener nqn.2016-06.io.spdk:cnode1 -t tcp -a  `hostname -i` -f ipv4 -s 5555 --secure-channel && \
            ./rpc.py nvmf_subsystem_add_host nqn.2016-06.io.spdk:cnode1 nqn.2014-08.org.nvmexpress:uuid:feb98abe-d51f-40c8-b348-2753f3571d3c --psk /tmp/opikey.txt && \
            ./rpc.py nvmf_subsystem_add_ns nqn.2016-06.io.spdk:cnode1 Malloc2 -n 3 --nguid ABCDEF0123456789ABCDEF0123456789 && \
            ./rpc_http_proxy.py 0.0.0.0 9009 spdkuser spdkpass'
    healthcheck:
      test: ["CMD-SHELL", "python3 /usr/libexec/spdk/scripts/rpc.py spdk_get_version || exit 1"]
      interval: 6s
      retries: 5
      start_period: 20s
      timeout: 10s

  opi-spdk-server:
    build:
      context: .
    volumes_from:
      - spdk
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
    ports:
      - "8082:8082"
      - "50051:50051"
    networks:
      - opi
    depends_on:
      spdk:
        condition: service_healthy
      redis:
        condition: service_healthy
      jaeger:
        condition: service_started
    command: sh -c "/opi-spdk-bridge -grpc_port=50051 -http_port=8082 -spdk_addr=/var/tmp/spdk.sock -redis_addr=redis:6379"
    healthcheck:
      test: grpcurl -plaintext localhost:50051 list || exit 1

  redis:
    image: redis:7.2.2-alpine3.18
    networks:
      - opi
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]

  jaeger:
    image: jaegertracing/all-in-one:1.50.0
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - opi

  opi-gw-test:
    image: curlimages/curl:8.4.0
    networks:
      - opi
    depends_on:
      opi-spdk-server:
        condition: service_healthy
    command: curl -qkL http://opi-spdk-server:8082/v1/inventory/1/inventory/2

  opi-jaeger-test:
    image: curlimages/curl:8.4.0
    networks:
      - opi
    depends_on:
      opi-spdk-client:
        condition: service_completed_successfully
    command: sh -c 'curl -s "http://jaeger:16686/api/traces?service=opi-spdk-bridge&lookback=20m&prettyPrint=true&limit=10" | grep operationName'

  opi-spdk-client:
    image: ghcr.io/opiproject/godpu:main@sha256:2b55d76814befaec963e378b1764a611f37698c70fd55bfe2ddf07f06393fa28
    networks:
      - opi
    depends_on:
      opi-spdk-server:
        condition: service_healthy
    command: storage test --addr=opi-spdk-server:50051

  opi-test:
    image: docker.io/namely/grpc-cli
    networks:
      - opi
    depends_on:
      opi-spdk-client:
        condition: service_completed_successfully
      opi-gw-test:
        condition: service_completed_successfully
      opi-jaeger-test:
        condition: service_completed_successfully
    command: ls opi-spdk-server:50051 opi_api.storage.v1.FrontendNvmeService -l

networks:
  opi:
